:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  gap: 20px;
  background-color: #44443b;
}

header > img {
  width: 100px;
  height: 100%;
}

header > h1 {
  color: white;
}
